<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Inspecting plants</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="style/main.css" />
    <script src="js/handlebars.runtime.min.js"></script>
    <script src="js/handlebars.data.js"></script>
    <script src="js/Chart.min.js"></script>
    <script defer src="js/main.js"></script>
</head>

<body>
    <div id="container">
        <div id="header">
            <header>
                <div id="navigation-main">
                    <table>
                        <tr>
                            <td> <a href="home"> Commit plant inspection</a> </td>
                            <td> <a href="inspection"> Review past inspections</a></td>
                        </tr>
                    </table>
                </div>
            </header>
        </div>
        {{{body}}}
    </div>
</body>

</html>