/**
 * Fonts
 */

p {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/**
  * Background
  */

body {
  background-image: linear-gradient(#158000, #61ff06);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**
 * Table
 */

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  color: black
}

/**
 *  Header
 */

#header {
  position: relative;
  display: block;
  text-align: center;
}

.header_title {
  text-align: center;
}

/**
 * Navigation bar
 */

 .header_navbar {
   text-align: center;
 }

 ul {
  margin: 0;
  padding: 50px;
}

li {
  display: inline;
}

/**
 * Form
 */

form {
  /* Center the form onto the page itself */
  margin: 0 auto;
  /* Ensure, that the form fits all devices */
  width: 66%;
  /* Ensures the outline of the form is visible. */
  padding: 1em;
  background-color: rgba(2, 2, 2, 0.5);
  border-radius: 1em;
}

/**
 * On mobile devices: Align tables and headers in the center. Ensure, that there is some space between refresh button and measurement table.
 */

@media only screen and (max-width: 768px) {
  h1, h2 {
    text-align: center;
  }

  table {
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 3.5%;
  }

  #myChart {
    visibility: hidden;
  }

  .tableheader {
    visibility: hidden;
  }
}

/**
 * On larger devices: Let elements be aligned to the left, but ensure, 
 * there is some space from the edge of the screen to preserve readability.
 */

@media only screen and (min-width: 768px) {
  .tableheader {
    margin-left: 4.5%;
  }
  table {
    margin-left: 4.5%;
    margin-bottom: 3.5%;
  }
}