/**
 * Fonts
 */

p {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/**
  * Background
  */

body {
  background-image: linear-gradient(#158000, #61ff06);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**
 * Table
 */

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  color: black
}

/**
 *  Header
 */

#header {
  position: relative;
  display: block;
  text-align: center;
}

.header-title {
  text-align: center;
}

/**
 * Navigation bar
 */

ul {
  margin: 0;
}

li {
  display: inline;
}

/**
 * Form
 */

form {
  /* Center the form onto the page itself */
  margin: 0 auto;
  /* Ensure, that the form fits all devices */
  width: 66%;
  /* Ensures the outline of the form is visible. */
  padding: 1em;
  background-color: rgba(2, 2, 2, 0.5);
  border-radius: 1em;
}