<form id="currentdateandtime">
  <div id="time"></div>

  <script>
    'use strict'
    const sensorTH = require('node-dht-sensor')
    const Gpio = require('onoff').Gpio
    sensorTH.initialize(11, 12)
    const led = new Gpio(4, 'out')
    exports.read = function read() {
      let readout = sensorTH.read()
      const tempandhumsData = {
        temperature: readout.temperature.toFixed(2),
        humidity: readout.humidity.toFixed(2)
      };
      console.log('current temperature: ' + readout.temperature.toFixed(2) + 'C, ' +
        'current humidity: ' + readout.humidity.toFixed(2) + '%')
      return tempandhumsData;
    }

    // Listen to the event triggered on CTRL+C, if it get triggered, Cleanly close the GPIO pin before exiting
    process.on('SIGINT', () => {
      if (interval) {
        clearTimeout(interval);
      }
      if (interval1) {
        clearTimeout(interval1);
      }
      if (interval2) {
        clearTimeout(interval2);
      }
      if (interval3) {
        clearTimeout(interval3);
      }
      console.log('Closing program. Returning to console.')
      process.exit()
    });

    const sensorTH = require('node-dht-sensor')
    sensorTH.initialize(11, 12)
    const interval = setInterval(() => {
      let readout = sensorTH.read()
      document.getElementById("temperature").innerHTML = tempandhumsData.temperature;
      document.getElementById("humidity").innerHTML = tempandhumsData.humidity;
      console.log('Current temperature and humidity has been read for the web page.')
    }, 1000)
  </script>

  <p>Currently, plant temperature is: <span id="temperature"></span></p>
  <p>Currently, plant humidity is: <span id="humidity"></span></p>
</form>

<h1> Commit plant inspection </h1>

<form method="POST" action="/inspection">
  <div>
    <label for="worker_name">Worker name</label>
  </div>
  <div>
    <input type="text" id="worker_name" name="worker_name" required>
  </div>
  <div>
    <label for="workers_assessment">Assessment of the plant</label>
  </div>
  <div>
    <textarea id="workers_assessment" name="workers_assessment" required></textarea>
  </div>
  <div>
    <label for="state" required>Rate the state of the plant</label>
  </div>
  <div>
    <select id="state" name="state">
      <option disabled> -- Choose a value -- </option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5</option>
    </select>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
  {{#if errMessage}}
  <p style="color: rgb(255, 0, 0); text-align: center">Error: {{ errMessage }}</p>
  {{/if}}
</form>