<form id="currentdateandtime">
  <p>Today is currently: <span id="datetime"></span></p>

  <script>
    var datetimerightnow = new Date();
    document.getElementById("datetime").innerHTML = datetimerightnow.toLocaleString();
  </script>

  <p>Currently, plant temperature is: <span id="temperature"></span></p>
  <p>Currently, plant humidity is: <span id="humidity"></span></p>

  <script>
    'use strict'
    const interval = setInterval{
      const sensorTH = require('node-dht-sensor')
      const Gpio = require('onoff').Gpio
      sensorTH.initialize(11, 12)
      const led = new Gpio(4, 'out')
      function read() {
        let readout = sensorTH.read()
        const thhtml = {
          temperature: readout.temperature.toFixed(2),
          humidity: readout.humidity.toFixed(2)
        };
        return thhtml;
      }
      const interval = setInterval{
        read();
      }, 1000);
      document.getElementById("temperature").innerHTML = thhtml.temperature;
      document.getElementById("humidity").innerHTML = thhtml.humidity
    }, 2000);
  </script>
</form>

<h1> Commit plant inspection </h1>

<form method="POST" action="/inspection">
  <div>
    <label for="worker_name">Worker name</label>
  </div>
  <div>
    <input type="text" id="worker_name" name="worker_name" required>
  </div>
  <div>
    <label for="workers_assessment">Assessment of the plant</label>
  </div>
  <div>
    <textarea id="workers_assessment" name="workers_assessment" required></textarea>
  </div>
  <div>
    <label for="state" required>Rate the state of the plant</label>
  </div>
  <div>
    <select id="state" name="state">
      <option disabled> -- Choose a value -- </option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5</option>
    </select>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
  {{#if errMessage}}
  <p style="color: rgb(255, 0, 0); text-align: center">Error: {{ errMessage }}</p>
  {{/if}}
</form>