<h1> Commit plant inspection </h1>

<form method="POST" action="/inspection">
  <div>
    <strong><label for="worker_name">Worker's name</label></strong>
  </div>
  <div>
    <input type="text" id="worker_name" name="worker_name" required>
  </div>
  <div>
    <label for="workers_assessment">Assessment of the plant</label>
  </div>
  <div>
    <textarea id="workers_assessment" name="workers_assessment" required></textarea>
  </div>
  <div>
    <label for="state">INT_STATE</label>
  </div>
  <div>
    <input type="number" id="state" name="state">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
  {{#if errMessage}}
  <p style="color: rgb(255, 0, 0); text-align: center">Error: {{ errMessage }}</p>
  {{/if}}
</form>