<script>
  setInterval(function(){
	  var today = new Date();
	  document.getElementById('dtText').innerHTML=today;
  }, 1000);
</script>
<script>
exports.readOnSite = function readOnSite() {
  console.log('sensor is being required')
  const sensor = require('../app/sensor')
  //  read the sensor values
  console.log('sensor is being read')
  let readoutOnSite = sensor.read()
  //  readout contains two values: temperature and humidity, which will be used
  const dhtDataOnSite = {
    temperature: readoutOnSite.temperature.toFixed(2),
    humidity: readoutOnSite.humidity.toFixed(2)
  };
  console.log('data is being written to site...')
  return dhtDataOnSite;
}


  const intervalSite = setInterval(
    const currentthdata = sensor.readOnSite(); , 
    2000);
  Document.getElementById('temponsite') = currentthdata.dhtDataOnSite.temperature;
</script>

<h1> Commit plant inspection </h1>

<form method="POST" action="/inspection">
  <!-- The information in this div is not used in POST, because mysql can default to the current timestamp. -->
  <div>
    <center>
      <p> Current date and time is: </p>
      <span id="dtText"></span>
      <p> Current temperature is: </p>
      <span id="temponsite"></span>
    </center>
  </div>
  <div>
    <label for="worker_name">Worker name</label>
  </div>
  <div>
    <input type="text" id="worker_name" name="worker_name" required>
  </div>
  <div>
    <label for="workers_assessment">Assessment of the plant</label>
  </div>
  <div>
    <textarea id="workers_assessment" name="workers_assessment" required></textarea>
  </div>
  <div>
    <label for="state">Rate the state of the plant</label>
  </div>
  <div>
    <select id="state" name="state" required>
      <option selected disabled hidden value ="">-- Select a value --</option>
      <option value=1>1 - Quite dead</option>
      <option value=2>2 - Dying </option>
      <option value=3>3 - Fine </option>
      <option value=4>4 - Doing well </option>
      <option value=5>5 - Doing very well </option>
    </select>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
  {{#if errMessage}}
  <p style="color: rgb(255, 0, 0); text-align: center">Error: {{ errMessage }}</p>
  {{/if}}
</form>