<h1> Commit plant inspection </h1>

<p> Current time: </p>

<span id="dtText"></span>

<script>
  var today = new Date();
  document.getElementById('dtText').innerHTML=today;
  setInterval(function(){
	  var today = new Date();
	  document.getElementById('dtText').innerHTML=today;
  }, 1000);
</script>

<form method="POST" action="/inspection">
  <div>
    <label for="worker_name">Worker name</label>
  </div>
  <div>
    <input type="text" id="worker_name" name="worker_name" required>
  </div>
  <div>
    <label for="workers_assessment">Assessment of the plant</label>
  </div>
  <div>
    <textarea id="workers_assessment" name="workers_assessment" required></textarea>
  </div>
  <div>
    <label for="state" required>Rate the state of the plant</label>
  </div>
  <div>
    <select id="state" name="state">
      <option disabled> -- Choose a value -- </option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5</option>
    </select>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
  {{#if errMessage}}
  <p style="color: rgb(255, 0, 0); text-align: center">Error: {{ errMessage }}</p>
  {{/if}}
</form>