<h1> Commit plant inspection </h1>

<form method="POST" action="/inspection">
  <div>
    <strong><label for="worker_name">Worker's name</label></strong>
  </div>
  <div>
    <input type="text" id="worker_name" name="worker_name" required>
  </div>
  <div>
    <label for="workers_assessment">Assessment of the plant</label>
  </div>
  <div>
    <textarea id="workers_assessment" name="workers_assessment" required></textarea>
  </div>
  <div>
    <p>State of the plant: </p>
    <label for="state"></label>
    <select id="state" name="state" required>
      <option disabled selected value> -- select an option -- </option>
      <option value=1>1 - Quite dead</option>
      <option value=2>2 - Dying</option>
      <option value=3>3 - Fine</option>
      <option value=4>4 - Well</option>
      <option value=5>5 - Very well</option>
    </select>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
  {{#if errMessage}}
  <p style="color: rgb(255, 0, 0); text-align: center">Error: {{ errMessage }}</p>
  {{/if}}
</form>