<script>
  setInterval(function(){
	  var today = new Date();
	  document.getElementById('dtText').innerHTML=today;
  }, 1000);
</script>

<h1> Commit plant inspection </h1>

<form method="POST" action="/inspection">
  <!-- The information in this div is not used in POST, because mysql can default to the current timestamp. -->
  <div>
    <center>
      <p> Current date and time is: </p>
      <span id="dtText"></span>
    </center>
  </div>
  <div>
    <label for="worker_name">Worker name</label>
  </div>
  <div>
    <input type="text" id="worker_name" name="worker_name" required>
  </div>
  <div>
    <label for="workers_assessment">Assessment of the plant</label>
  </div>
  <div>
    <textarea id="workers_assessment" name="workers_assessment" required></textarea>
  </div>
  <div>
    <label for="state" required>Rate the state of the plant</label>
  </div>
  <div>
    <select id="state" name="state" required>
      <option selected disabled hidden>-- Select a value --</option>
      <option value=1>1 - Quite dead</option>
      <option value=2>2 - Dying </option>
      <option value=3>3 - Fine </option>
      <option value=4>4 - Doing well </option>
      <option value=5>5 - Doing very well </option>
    </select>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
  {{#if errMessage}}
  <p style="color: rgb(255, 0, 0); text-align: center">Error: {{ errMessage }}</p>
  {{/if}}
</form>