<h3>Review past inspections </h3>
<table id="past measurements">
    <thead>
        <tr>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Time</th>
            <th>Worker name</th>
            <th>Plant state</th>
            <th>Workers assessment</th>
        </tr>
    </thead>
    <tbody id="myTable">
    </tbody>
</table>

<footer>
    <a href="home.hbs">return to home page</a>
</footer>