<h1 style="margin-left: 5%;"> Review past inspections </h1>
<canvas id="myChart"></canvas>

<h1>Review measurement table</h1>

<table>
    <thead>
        <tr>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Time</th>
            <th>Worker name</th>
            <th>Plant state</th>
            <th>Workers assessment</th>
        </tr>
    </thead>
    <tbody id="myTable">
    </tbody>
</table>

<footer>
    <center>
        <form action="/inspection">
            <input type="submit" value="Refresh data">
        </form>
    </center>
</footer>