<h3>Review past inspections </h3>
<canvas id="myChart"></canvas>
</div>

<div id="myTable"></div>
    <div id="past measurements">
        <table>
            <thead>
                <tr>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Time</th>
                    <th>Worker name</th>
                    <th>Plant state</th>
                    <th>Workers assessment</th>
                </tr>
            </thead>
            <tbody id="myTable">
            </tbody>
        </table>
    </div>
</div>

<footer>
    <a href="home">return to home page</a>
</footer>